@media only screen and (max-width: 1218px) {

}


@media only screen and (max-width: 1120px) {

}

@media only screen and (max-width: 1180px) {
    .title {
        font-size: 2.8rem;
    }

    .menu {
        font-size: 1.1rem;
        width: 3.7rem;
        height: 3.7rem;
    }
}


@media only screen and (max-width: 1024px) {


}

@media only screen and (max-width: 850px) {

}

@media only screen and (max-width: 725px) {

}

@media only screen and (max-width: 685px) {

}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 2.4rem;
    }

    .menu {
        font-size: 1rem;
        width: 3.3rem;
        height: 3.3rem;
    }
}

@media only screen and (max-width: 560px) {

}

@media only screen and (max-width: 525px) {

}

@media only screen and (max-width: 500px) {

}

@media only screen and (max-width: 476px) {

}

@media only screen and (max-width: 455px) {

}

@media only screen and (max-width: 426px) {

}

@media only screen and (max-width: 415px) {
    body {
        overflow-x: hidden;
        width: 100%;
    }
    .title {
        font-size:2.4rem;
        top: -0.5%;
    }

     .menu {
        top: 1.5%;
        width: 3.3rem;
        height: 3.3rem;
        font-size: 1.9rem;
        border: none;
        right: 10%;
    }
}