html, body {
    margin:0;
    background-color: transparent;
    height: 100vh;
    transition: background-color 0.5 ease ;
    overflow-y: scroll;
    overflow-x: hidden;
}

@font-face {
    font-family: Ogg;
    src: url(ogg.otf);
}

@font-face {
    font-family: Visuelt-bold;
    src: url(visuelt-bold.ttf);
}

@font-face {
    font-family: Visuelt-light;
    src: url(visuelt-light.ttf);
}

.c-scrollbar_thumb {
    opacity: 0 !important;
}

.menu {
    font-family: Ogg;
    color: #E4380A;
    font-size: 1.2rem;
    font-weight: 500;
    position: fixed;
    right: 4%;
    z-index: 100;
    top: 5.5%;
    border: 1.2px solid #E4380A;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    text-align: center;
    z-index: 100 !important;
    mix-blend-mode: difference;
}

.menu:hover {
    cursor: pointer;
}

.menu a {
    position: relative;
    top: 26%;
    color: #E4380A;
    text-decoration: none;
}

.menu a:hover {
    cursor: pointer;
}

.menu-full {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #f0ede8;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-family: Ogg;
    font-size: 4.5vw;
    z-index: -1;
}

.menu-items {
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 11%;
    line-height: 7vw;
}

.menu-item {
    transition: transform 0.2s linear; 
}

.menu-item span {
    transition: transform 0.2s linear;
}

.menu-item span:hover {
    cursor: pointer;
}

#home-re {
    position: relative;
    top: 6px;
}


.menu-items div {
    position: relative;
}

.menu-full-background {
    opacity: 1;
}

.menu-email {
    color:#E4380A;
    position: absolute;
    bottom: 5.5%;
    font-size: 2.2vw;
    left: 5%;
}

.menu-email:hover {
    cursor: pointer;
}

.menu-facebook:hover {
    cursor: pointer;
}

.menu-facebook {
    color: #E4380A;
    position: absolute;
    bottom: 5%;
    font-size: 2.2vw;
    right: 5%;
}

.menu-facebook a {
    color: #E4380A;
    text-decoration: none;
}
.menu-cursor {
    pointer-events: none;
    position: fixed;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: all 0.15s ease-out;
    background-color: #E4380A;
    z-index: 200;
    width: 1vw;
    height: 1vw;
    transform: scale(0);
    top: 50vh;
    left: 30vw;
}

.menu-svg {
    position: absolute;
    width: 7vw;
    top: 30%;
    left: 10%;

}

#menu-email-svg {
    opacity: 0;
    width: 6vw;
    left: -3%;
    top: 40%;
}

#menu-facebook-svg {
    opacity: 0;
    width: 8.6vw;
    top: 25%;
    left: 1%;;

}

.pointer-location {
    font-family: Visuelt-light;
    font-size: 1.5vw;
}

.pointer-location-slash {
    font-family: Ogg;
    font-size: 4.5vw;
}


.wrapper {
    height: 593vh;
}
.section1 {
    height: 100vh;
}

.title {
    font-family: Ogg;
    color: #E4380A;
    font-size: 3rem;
    font-weight: 500;
    position: fixed;
    left: 3.5%;
    letter-spacing: 2.5px;
    z-index: 100;
    top: 1%;
    z-index: 100 !important;
    mix-blend-mode: difference;
}
.title:hover {
    cursor: pointer;
}

.title a {
    text-decoration: none;
    color: #E4380A;
}

.arrow-icon {
    position: fixed;
    width: 3vw;
    right: 2.5%;
    top: 3%;
    fill: #E4380A;
    z-index: 100;
}

.head-wrapper {
    position: absolute;
    top: 17vh;
    left: 12%;
    line-height: 800%;
    width: 75vw;
}

.head {
    position: relative;
    font-size: 10rem;
    font-family: Visuelt-light;
    font-weight: 100;
    color: black;
    text-align: left;
    margin:0;
    padding-bottom: 0%;
}

.line {
    position: absolute;
    height: 1.5px;
    width: 75vw;
    background-color:black;
    top: 400px;
    left: 12%;
}

.glitchy {
    position: absolute;
    top: 20vh;
    right: 12%;
    width: 35vw;
    height: 34vh;
}

.glitch-letter {
    position: absolute;
    color:black;
    font-family: Ogg;
    font-weight: 100;
    font-size: 2rem;
}

.glitch-letter:hover {
    color:#E4380A;
    cursor:default;
}

.intro-para {
    position: absolute;
    left: 12%;
    top: 56.8vh;
    font-family: Ogg;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.nav-container {
    position: absolute;
    right: 12%;
    top: 56.8vh;
    z-index: 100;
}

.nav-container ul {
    list-style: none;
}

.nav-container ul li {
    font-family: Visuelt-bold;
    padding-bottom: 8px;
    margin: 0 0 25px 0;
    text-align: left;
    font-size: 1.5rem;
    border-bottom: 1.5px solid black;
    letter-spacing: 1.2px;
    width: 80vh;
    transition: color 0.4s ease;
    pointer-events: auto;
    z-index: 999;
}

.nav-container ul li:hover {
    color:#E4380A;
    pointer-events: auto;
    cursor: pointer;
}

.arrow {
    position: relative;
    top: 20%;

}

.ionicon {
    position: relative;
    width: 2vw;
    float: right;
    top: -8px;
}

.ionicon path {
    transition: stroke 0.4s ease;
}

.circular-text {
    position: relative;
    top: 115vh;
    right: 00%;
    font-family: Ogg;
    font-size: 2rem;
    transition: 0.9s ease;
    letter-spacing: 2px;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear alternate infinite !important;
}

#circular-arrow {
    width: 6vw;
    stroke: #E4380A;
    right: 47%;
    top: 38.45vh;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.section2 {
    position: relative;
    top: -9vh;
    height: 200vh;

}

.who-title {
    font-family: Visuelt-light;
    font-size: 10rem;
    white-space: nowrap;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.about-img {
    position: relative;
    width: 120vw;
    left: -2%;
    float: right;
    white-space: nowrap;
}
.about-img img {
    width: 32vw;
    float:right;
    opacity: 0;
}

.about-num {
    float:right;
    position: relative;
    padding-right: 21px;
    top: 307px;
    font-size: 1.1rem;
    opacity: 0;
}

.arc {
    position: relative;
    left: 56%;
    top: 43vh;
    width: 35vw;
    background-image: url(arc.svg);
    background-size: cover;
}

.who-intro {
    position: relative;
    left: 34%;
    top: 19vh;
    font-family: Ogg;
    color: black;
    font-size: 2.6rem;
    opacity: 0;
    padding-left: 0;
}

.is-svg {
    background-color: white;
    position: absolute;
    z-index: 100;
    left: 52%;
    top: 43vh;
    height: 34vh;
    width: 43vh;
    z-index: 120;
    transition: width 1.8s ease ;
}

.is-animate {
    width: 0vh;
}

#who-agt {
    color: #E4380A;
    border-bottom: 1.5px solid #E4380A;
}


.section3 {
    position: absolute;
    top: 270vh;
    height: 200vh;
}

.why-container {
    width: 100vw;
    height: 120vh;
}

.why-title {
    position: relative;
    font-family: Visuelt-light;
    font-size: 10rem;
    top: 42%;
    left: 30.5%;
    padding:0;
    color:  #E4380A;
}

.line-why {
    color: white;
    font-family: Visuelt-light;
    font-size: 7.3rem;
    line-height: 1.2;
}

#-one {
    z-index: 1;
    transform:translateX(-50vw) rotate(17deg) !important;
}

#-two {
    font-size:  7.5rem;
    z-index:2;
    top: 0.5vh;
}

#-three {
    font-size:  7.5rem;
    z-index:1;
    top: 1vh;
    transform:rotate(-20deg) !important;
}

#-four {
    font-size:  7.5rem;
    z-index:2;
    top: -4% !important;
    transform:rotate(20deg) !important;
}

#-five {
    position: relative;
    font-size:  7.5rem;
    z-index:2;
    top: -20vh !important;
    transform:rotate(-10deg) !important;
}

.line-why span {
    position: relative;
    background: black;
    display: block;
    color: white;
    white-space: nowrap;
    top:0vh;
    padding-top: 25px;
    text-align: center;
}

.section4 {
    position: absolute;
    top: 470vh;
    height: 100vh;
}

.how-title {
    font-family: Visuelt-light;
    font-size: 9rem;
    color:#E4380A;
    writing-mode: vertical-rl;
    z-index: 1;
    position: relative;
    top: 0.1%;
    left: 35%;
}

.block {
    position: relative;
    top: -80vh;
    width: 88vw;
    height: 30vh;
    left: 5%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    z-index: 2;
}

.block-id {
    font-family: Visuelt-light;
    position: relative;
    top: 16%;
    font-size: 7.5rem;
    font-weight: 50;
    letter-spacing: 1px;
    overflow: hidden;
    transform: translateY(60%) !important;
}

.block-title {
    float: right;
    position: relative;
    top: 12%;
    left: -28%;
    font-family: Visuelt-light;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: left;
    width: 12vw;
    overflow: hidden;
}

.block-intro {
    float:right;
    position: relative;
    top: 52%;
    left: 6%;
    font-family: Ogg;
    font-size: 1rem;
    font-weight: 500;
    width: 30vw;
    text-align: left;
    overflow: hidden;
}

#outerCircleText {
    color: #E4380A;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    cursor: default;
}
#outerCircleText div {
    position: relative;
}
#outerCircleText div div {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}


.section5 {
    position: absolute;
    top: 565vh;
    height: 100vh;
}

.contact-about {
    width: 20vw;
    position: relative;
    left: -21%;
}

.stay-update {
    font-family: Visuelt-light;
    font-size: 1.1rem;
    font-weight: 1000;
    position: relative;
    left: 23%;
    letter-spacing: 1px;
}

.contact-about-info {
    font-family: Ogg;
    text-decoration: none;
    list-style: none;
    position: relative;
    left: 10.5%;
    font-weight: 500;
}

.contact-about-info li {
    transition: color 0.5s ease;
}
.contact-about-info li span {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.contact-about-info li:hover {
    color:#E4380A;
    cursor:pointer;
}

.nav-to-other-abouts {
    font-family: Ogg;
    font-size: 3rem;
    float: right;
    position: relative;
    left: 65vw;
    top: -26vh;
    letter-spacing: 2px;
}

.nav-to-other-abouts li {
    list-style: none;
    margin: 5px 0;
}

.nav-to-other-abouts li:hover {
    color:#E4380A;
    cursor: pointer;

}

.nav-to-other-abouts li a {
    color: black;
    text-decoration: none;
    transition: color 0.5s ease;
}

.nav-to-other-abouts li a:hover {
   color:#E4380A;
}