html, body {
    margin:0;
}

@font-face {
    font-family: Ogg;
    src: url(ogg.otf);
}

@font-face {
    font-family: Visuelt-bold;
    src: url(visuelt-bold.ttf);
}

@font-face {
    font-family: Visuelt-light;
    src: url(visuelt-light.ttf);
}



.content {
    height: 210vw;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    background-color: transparent;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;/* Firefox */
}

.loading-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-color: black;
    z-index: 999;
    line-height: 9vw;
    padding:0;
    
}
.loading-texts {
    position: fixed;
    top: 2%;
    opacity: 10%;
}

.loading-text {
    font-family: Ogg;
    color: white;
    font-size: 9rem;
    white-space: nowrap;
}

.loading-num {
    font-family: Ogg;
    font-size: 9vw;
    position: fixed;
    width: 100vw;
    text-align: center;
    color: white;
    z-index: 1000;
    top: 40%;
}

.load-quote {
    width: 100vw;
    font-family: Ogg;
    position: fixed;
    font-size: 4vw;
    color: #E4380A;
    z-index: 1000;
    top: 40%;
    text-align: center;
    line-height: 5vw;

}

.title {
    font-family: Ogg;
    color: #E4380A;
    font-size: 3rem;
    font-weight: 500;
    position: fixed;
    left: 3.5%;
    letter-spacing: 2.5px;
    z-index: 100;
    top: 1%;
    z-index: 100 !important;
    mix-blend-mode: difference;
    transition: mix-blend-mode 0.5s ease;
}
.title:hover {
    cursor: pointer;
}

.title a {
    text-decoration: none;
    color: #E4380A;
}



.menu {
    font-family: Ogg;
    color: #E4380A;
    font-size: 1.2rem;
    font-weight: 500;
    position: fixed;
    right: 4%;
    z-index: 100;
    top: 5.5%;
    border: 1.2px solid #E4380A;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    text-align: center;
    z-index: 100 !important;
    mix-blend-mode: difference;
    transition: mix-blend-mode 0.5s ease;
}

.menu:hover {
    cursor: pointer;
}

.menu a {
    position: relative;
    top: 24%;
    color: #E4380A;
    text-decoration: none;
}

.menu a:hover {
    cursor: pointer;
}

.menu-full {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #f0ede8;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-family: Ogg;
    font-size: 4.5vw;
    z-index: -1;
}

.menu-items {
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 11%;
    line-height: 7vw;
}

.menu-item {
    transition: transform 0.2s linear; 
}

.menu-item span {
    transition: transform 0.2s linear;
}

.menu-item span:hover {
    cursor: pointer;
}

#home-re {
    position: relative;
    top: 6px;
}


.menu-items div {
    position: relative;
}

.menu-full-background {
    opacity: 1;
}

.menu-email {
    color:#E4380A;
    position: absolute;
    bottom: 5.5%;
    font-size: 2.2vw;
    left: 5%;
}

.menu-email:hover {
    cursor: pointer;
}

.menu-facebook:hover {
    cursor: pointer;
}

.menu-facebook {
    color: #E4380A;
    position: absolute;
    bottom: 5%;
    font-size: 2.2vw;
    right: 5%;
}

.menu-facebook a {
    color: #E4380A;
    text-decoration: none;
}
.menu-cursor {
    pointer-events: none;
    position: fixed;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: all 0.15s ease-out;
    background-color: #E4380A;
    z-index: 200;
    width: 1vw;
    height: 1vw;
    transform: scale(0);
    top: 50vh;
    left: 30vw;
}

.menu-svg {
    position: absolute;
    width: 7vw;
    top: 30%;
    left: 10%;

}

#menu-email-svg {
    opacity: 0;
    width: 6vw;
    left: -3%;
    top: 40%;
}

#menu-facebook-svg {
    opacity: 0;
    width: 8.6vw;
    top: 25%;
    left: 1%;
}

.pointer-location {
    font-family: Visuelt-light;
    font-size: 1.5vw;
}

.pointer-location-slash {
    font-family: Ogg;
    font-size: 4.5vw;
}

.section-1 {
    position: relative;
    width: 100vw;
    top: 10vw;
    z-index: 3;
    height: 100vh;
}


.intro-text {
    font-family: Ogg;
    font-size: 8rem;
    text-align: center;
    line-height: 115%;
    font-weight: 50;
    z-index: 2 !important;
    position: relative;
}

.intro-text span {
    position: relative;
    z-index: 2 !important;
}

.intro-text-circle {
    position: absolute;
    width: 5vw;
    height: 5vw;
    background-color: #E4380A ;
    border-radius: 50%;
    left: 35%;
    z-index: 1;
    transform-origin: 50% 50%;
}

.intro-text-circle:hover {
    cursor: pointer;
}

.intro-text-circle-a {
    position: absolute;
    width: 5vw;
    height: 5vw;
    background-color: #E4380A ;
    border-radius: 50%;
    left: 35%;
    z-index: 3;
    transform-origin: 50% 50%;
    opacity: 0;
    
}


.intro-text-circle-a:hover {
    cursor: pointer;
}


.intro-show-title {
    color: #E4380A;
}

.block-1 {
    position: absolute;
    width: 2vw;
    height: 9vw;
    left: 48.4%;
    border: 2px solid #E4380A;
    transform-origin: bottom right;
    transition: all 0.5s ease;
}

.rotate {
    transform: rotate(45deg);

}

.block-2 {
    position: absolute;
    width: 2vw;
    height: 9vw;
    border: 2px solid #E4380A;
    left: 57.15%;
}

.jagged-circle {
    position: absolute;
    width: 7vw;
    left: 74%;
    top: 11%;
    z-index: 10;
}

.jagged-circle svg {
    -webkit-animation:spin 5s linear infinite;
    -moz-animation:spin 5s linear infinite;
    animation:spin 5s linear alternate infinite;

}

.left-hand {
    position: absolute;
    width: 25vw;
    top: 20%;
    transform: rotate(-40deg);
    left: -3%;
    z-index: 2;
}

.right-hand {
    position: absolute;
    width: 25vw;
    top: 20%;
    transform: rotate(-40deg);
    right: -7%;
    z-index: 2;

}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.end-text {
    font-family: Ogg;
    font-size: 5.2rem;
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 90%;
}

.bg-text {
    font-family: Ogg;
    font-weight: 100;
    font-size: 15vw;
    letter-spacing: 3px;
    position: absolute;
    top: 70%;
    z-index: -1;
}

.end-text-stroke {
    position: absolute;
    width: 41vw;
    top: -120%;
    left: 30%;
}

.left-hand-circle {
    position: absolute;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: blue;
    z-index: -1;
    top: 23%;
    left: 20%;
}

.left-hand-circle:hover {
    cursor: pointer;
    transform: scale(2,2);
}

.left-hand-circle-a {
    position: absolute;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: blue;
    z-index: 3;
    top: 23%;
    left: 20%;
    opacity: 0;
}

.left-hand-circle-a:hover {
    cursor: pointer;
}


.right-hand-circle {
    position: absolute;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: yellow;
    z-index: 1;
    top: 55%;
    right: 10%;

}

.right-hand-circle:hover {
    cursor: pointer;
}



.right-hand-circle-a {
    position: absolute;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: yellow;
    z-index: 3;
    top: 55%;
    right: 10%;
    opacity: 0;

}

.right-hand-circle-a:hover {
    cursor: pointer;
}

.to-playground {
    position: absolute;
    width: 2.5rem;
    top: 7%;
    left: 47%;
    transition: all 0.5s ease;
}

.playground-svg{
    transition: all 0.5s ease;
}

.to-playground-rotate {
    transform: rotate(30deg);
}

.arrow-down {
    position: absolute;
    width: 6vw;
    left: 46.5%;
    top: 135%;
}

.circle-background {
    position: absolute;
    width: 100vw;
    height: 70vw;
    background-color: #E4380A;
    border-radius: 1.5%;
    top: 150%;
    z-index: 3 !important;
}

.circle-header-top {
    width: 30vw;
    height: 5vw;
    color: black;
    background-color: #E4380A;
    text-align: center;
    font-family: Visuelt-light;
    font-size: 1.2vw;
    position: relative;
    top: -2.5%;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    left: 35%;
    vertical-align: middle;
}

.circle-header-top span {
    position: relative;
    top: 22%;
    letter-spacing: 2px;
    font-weight: normal;
    
}

.inner-circle-text {
    position: absolute;
    font-family: Ogg;
    font-size: 4.2vw;
    white-space: nowrap;
    letter-spacing: 3px;
    top: 19%;
    left: 50%;
    animation: rotation-1 40s infinite linear;
}

.outer-circle-text {
    position: absolute;
    font-family: Ogg;
    font-size: 5.4vw;
    white-space: nowrap;
    letter-spacing: 3px;
    top: 9.5%;
    left: 49.9%;
    animation: rotation-2 40s infinite linear;
    opacity: 50%;
}

.seasons img {
    width: 25vw;
    border-radius: 50%;
    border: 2.5px solid black;
    position: absolute;
    top: 33%;
    left: 37.3%;
}

#filler {
    opacity: 0;
}

@keyframes rotation-1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

@keyframes rotation-2 {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
}

.circle-header-bottom {
    width: 30vw;
    height: 5vw;
    color: black;
    background-color: #E4380A;
    text-align: center;
    font-family: Visuelt-light;
    font-size: 1.2vw;
    position: relative;
    top: 88.5%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    left: 35%;
    vertical-align: middle;
}

.circle-header-bottom span {
    position: relative;
    top: 50%;
    letter-spacing: 2px;
}

.section-2 {
    position: relative;
    top: 70vw;
    z-index: 1;
    height: 130vw;
    background-color: #f0ede8;
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
}

.intro-section {
    position: absolute;
    font-family: Ogg;
    top: 38%;
    text-align: center;
    left: 13%;
    font-size: 3vw;
}

.intro-section span {
    position: relative;
}

#intro-agt {
    color: #E4380A;
}

.event-stroke {
    position: absolute;
    width: 4.5vw;
    height: 4.5vw;
    border: 1.5px solid #E4380A;
    border-radius: 50%;
    z-index: -1;
    top: 75%;
    left: 5%;
}

#three {
    background-color:#f0ede8;
    padding-top: 10px;
}

.know-more {
    position: absolute;
    font-family: Ogg;
    top: 90%;
    text-align: center;
    left: 27%;
    font-size: 7vw;
    letter-spacing: 2px;
}

.know-more span {
    position: relative;
    z-index: 1;
}

.hand-interest {
    position: absolute;
    width: 15vw;
    transform: rotate(-170deg);
    top: 10%;
    left: 85%;
    z-index: 2;
}

.hand-interest-circle {
    position: absolute;
    background-color: #E4380A;
    z-index: 1;
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 50%;
    top: 12%;
    left: 80%;
    z-index: -1;
}

.hand-interest-circle-a {
    position: absolute;
    background-color: #fff;
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 50%;
    top: 12%;
    left: 80%;
    z-index: 100;
    opacity: 0;
}

.hand-interest-circle-a:hover {
    cursor: pointer;
}


#know-more-us {
    color: #E4380A;
}

.pointer-to-more {
    position: absolute;
    width: 9vw;
    top: 94%;
    left: 50%;
}


.know-more-header {
    width: 30vw;
    height: 5vw;
    color: black;
    background-color: white;
    text-align: center;
    font-family: Visuelt-light;
    font-size: 1.2vw;
    position: relative;
    top: 98.5%;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    left: 35%;
    vertical-align: middle;
}

.know-more-header span {
    position: relative;
    top:22%;
}

.section-3 {
    position: relative;
    z-index: 2;
    top: -15vw;
    height: 220vw;
}

.section-3-nav {
    position: absolute;
    top: 70%;
}

.section-3-nav-header {
    position: absolute;
    top: 2vw;
    text-align: center;
    font-family: Ogg;
    font-size: 6.5vw;
    letter-spacing: 2px;
    white-space: nowrap;
    left: 31vw;
    z-index: 10;
    transition: opacity 0.5s ease;

}

.section-3-nav-header span {
    position: relative;
    transition: opacity 0.5s ease;
}

.section-3-nav-header-hand {
    position: absolute;
    width: 12vw;
    transform: rotate(-20deg);
    left: 42vw;
    top: 15vw;
    z-index: 10;
    transition: opacity 0.5s ease;
}

.section-3-header-ani {
    opacity: 0;
}

.section-3-content {
    position: absolute;
    width: 100vw;
    top: -15vw;
}

.section-3-nav-title {
    position: absolute;
    top: -17vw;
    width: 100vw;
    font-family: Ogg;
    font-size: 6.2vw;
    text-align: center;
    color:#E4380A;
    z-index: 20;
    display: inline-block;
    opacity: 0;
    transition: opacity 1.5s ease;
}
.section-3-nav-title-circle-yellow {
    position: absolute;
    top: -21vw;
    width: 5vw;
    height: 5vw;
    background-color: yellow;
    border-radius: 50%;
    left: 60vw;
    z-index: 999;

}

.section-3-nav-title-circle-yellow:hover {
    cursor: pointer;
}

.section-3-nav-title-circle-blue:hover {
    cursor: pointer;
}

.section-3-nav-title-circle-blue {
    position: absolute;
    top: -10.9vw;
    left: 30vw;
    width: 5vw;
    height: 5vw;
    background-color: blue;
    border-radius: 50%;
    font-size: 3.5vw;
    z-index: 999;
}



.section-3-rows {
    font-family: Ogg;
    font-size: 3.5vw;
    text-align: center;
    position: relative;
    float: left;
    top: 2vw;
    margin-right: 5vw;
    left: 13.5vw;
}

.section-3-rows a {
    text-decoration: none;
    color: black;
}

#section-3-agt {
    color:#E4380A;
    width: 10vw;
}

.section-3-svg {
    position: absolute;
    width: 9vw;
    top: 38%;
    left: 0%;
    opacity: 0;
}

.section-3-svg-large {
    position: absolute;
    float:none !important;
    width: 15vw;
    top: -25vw;
    left: 29vw;
    z-index: 11;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#section-3-history-svg-large {
    left: 14vw;

}

#section-3-contact-svg-large {
    position: absolute;
    float:none !important;
    width: 30vw;
    top: -25vw;
    left: -36vw;
    z-index: 11;
    opacity: 0;
    transition: opacity 0.5s ease;

}

#section-3-sponsors-svg-large {
    left: -5vw;

}

.section-3-href-filler {
    font-family: Ogg;
    font-size: 3.5vw;
    text-align: center;
    position: absolute;
    float: left;
    top: 0vw;
    left: -0vw;
}

#svg-to-animate {
    opacity: 1;
}

.section-3-arrow-to-contact {
    position: relative;
    width: 3vw;
    top: 134vw;
    left: 48vw;
}


.contact-section {
    position: relative;
    top: 143vw;
    width: 100vw;
    height: 70vw;
    background-color: #f9cc4e;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: -1;
}

.contact-header {
    position: absolute;
    top: -2.5%;
    left: 35%;
    width: 30vw;
    height: 5vw;
    color: black;
    background-color: #f9cc4e;
    text-align: center;
    font-family: Visuelt-light;
    font-size: 1.3vw;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    vertical-align: middle;
}

.contact-header span {
    position: relative;
    top:22%;
}

.contact-text {
    position: absolute;
    font-family: Ogg;
    font-size: 6vw;
    top: 10%;
    left: 23%;
    text-align: center;
}

.contact-stroke {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90vw;
    z-index: -1;

}

#contact-stroke-svg {
    stroke-dasharray: 150px;
    animation: dash 8s infinite alternate linear;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

.contact-text-stroke {
    width: 22vw;
    position: absolute;
    top: 57%;
    left: 52%;
    z-index: -1;
}

.agt-circle {
    width: 30vw;
    height: 5vw;
    position: absolute;
    top: 60%;
    left: 36%;
    letter-spacing: 4px;
    color: #E4380A;
    border: 2px solid #E4380A;
    border-radius: 4rem;
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.5s ease;
}

.agt-circle span {
    font-size: 3vw;
    font-family: Ogg;
    transition: color 0.5s ease;
}

.agt-circle span:hover {
    cursor: pointer;
}

.agt-season {
    width: 15vw;
    height: 5vw;
    position: absolute;
    top: 70%;
    left: 26%;
    letter-spacing: 4px;
    color: #239bba;
    border: 2px solid #239bba;
    border-radius: 4rem;
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.5s ease;
}

.agt-season span {
    font-family: Ogg;
    font-size: 3.5vw;
    transition: color 0.5s ease;
}

.agt-season span:hover {
    cursor: pointer;
}

.agt-name {
    width: 32vw;
    height: 5vw;
    position: absolute;
    top: 70%;
    left: 43%;
    letter-spacing: 4px;
    color: #5c2dbe;
    border: 2px solid #5c2dbe;
    border-radius: 4rem;
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.5s ease;
}

.agt-name span {
    font-family: Ogg;
    font-size: 3.5vw;
    letter-spacing: 5px;
    transition: color 0.5s ease;
}

.agt-name span:hover {
    cursor: pointer;
}

.contact-href {
    position: absolute;
    top: 85%;
    left: 33%;
    font-family: Ogg;
    font-size: 3vw;
    color: #E4380A;
}

.contact-href a {
    text-decoration: none;
    color: #E4380A;
}

.facebook {
    margin-right: 10vw;
}

#email-hover {
    z-index: 100;
    transition: all 0.5s ease;
}

#email-hover:hover {
    color: #E4380A;
    cursor: pointer;
    transform: skewX(30deg);
}

