html,  body {
    margin:0;
    background: transparent;
    position: fixed;
}

@font-face {font-family: "Schnyder Cond M Light"; src: url("//db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.eot"); src: url("//db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.woff") format("woff"), url("//db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.svg#Schnyder Cond M Light") format("svg"); }

@font-face {
    font-family: Ogg;
    src: url(ogg.otf);
}

@font-face {
    font-family: Svn;
    src: url(svn.otf);
}

@font-face {
    font-family: Visuelt-bold;
    src: url(visuelt-bold.ttf);
}

@font-face {
    font-family: Visuelt-light;
    src: url(visuelt-light.ttf);
}

body::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    background-color: transparent;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;/* Firefox */
}

.title-menu {
    font-family: Ogg;
    color: #E4380A;
    font-size: 3vw;
    font-weight: 500;
    position: fixed;
    left: 3.5%;
    letter-spacing: 2.5px;
    z-index: 100;
    top: 1%;
    z-index: 100 !important;
    transition: opacity 0.5s ease;
}

.title-menu a {
    text-decoration: none;
    color: #E4380A;
}

.menu {
    font-family: Ogg;
    color: #E4380A;
    font-size: 1.2rem;
    font-weight: 500;
    position: fixed;
    right: 4%;
    z-index: 100;
    top: 5.5%;
    border: 1.2px solid #E4380A;
    border-radius: 50%;
    width: 4.2rem;
    height: 4.2rem;
    text-align: center;
    z-index: 100 !important;
}

.menu:hover {
    cursor: pointer;
}

.menu a {
    position: relative;
    top: 26%;
    color: #E4380A;
    text-decoration: none;
}

.menu a:hover {
    cursor: pointer;
}

.menu-full {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #f0ede8;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-family: Ogg;
    font-size: 4.5vw;
    z-index: -1;
    top:0;
}

.menu-items {
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 8%;
    line-height: 7vw;
}

.menu-item {
    transition: transform 0.2s linear; 
}

.menu-item span {
    transition: transform 0.2s linear;
}

.menu-item span:hover {
    cursor: pointer;
}

#home-re {
    position: relative;
    top: 6px;
}


.menu-items div {
    position: relative;
}

.menu-full-background {
    opacity: 1;
}

.menu-email {
    color:#E4380A;
    position: absolute;
    bottom: 5.5%;
    font-size: 2.2rem;
    left: 5%;
}

.menu-email:hover {
    cursor: pointer;
}

.menu-facebook:hover {
    cursor: pointer;
}

.menu-facebook {
    color: #E4380A;
    position: absolute;
    bottom: 5%;
    font-size: 2.2rem;
    right: 5%;
}

.menu-facebook a {
    color: #E4380A;
    text-decoration: none;
}
.menu-cursor {
    pointer-events: none;
    position: fixed;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: all 0.15s ease-out;
    background-color: #E4380A;
    z-index: 200;
    width: 1vw;
    height: 1vw;
    transform: scale(0);
    top: 50vh;
    left: 30vw;
}

.menu-svg {
    position: absolute;
    width: 7vw;
    top: 30%;
    left: 10%;

}

#menu-email-svg {
    opacity: 0;
    width: 6rem;
    left: -3%;
    top: 40%;
}

#menu-facebook-svg {
    opacity: 0;
    width: 8.6rem;
    top: 25%;
    left: 1%;;

}

.pointer-location {
    font-family: Visuelt-light;
    font-size: 1.5vw;
}

.pointer-location-slash {
    font-family: Ogg;
    font-size: 4.5vw;
}


.title {
    position:fixed;
    font-family: Ogg;
    font-size: 2.5rem;
    color: #E4380A;
    font-weight: 200;
    left: 6.3rem;
    top: 4.5%;
    letter-spacing: 2.5px;
    z-index: 100;
    transition: opacity 0.5s ease;
    z-index: 999;
}

.title a {
    text-decoration: none;
    color: #E4380A;
}

.arrow-icon {
    position: fixed;
    width: 3vw;
    right: 4%;
    top: 7%;
    fill: #E4380A;
    z-index: 100;
}

.XIII {
    position: fixed;
    font-size: 2.5rem;
    font-family: Ogg;
    color: #E4380A;
    font-weight: 200;
    letter-spacing: 2px;
    right: 5%;
    top: 80%;

}


.c-scrollbar_thumb {
    opacity: 0 !important;
    z-index: 500 !important;
}

.part-body {
    height: 100vh;
}

.wrapper {
    z-index: 100;
    height: 350%;
}

#outerCircleText {
    color: #E4380A;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1 !important;
    cursor: default;
    font-family: Ogg;
    font-weight: 500;
}
#outerCircleText div {
    position: relative;
    z-index:1 !important;
}
#outerCircleText div div {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1 !important;
}

.participants {
    height: 400vw;
}


.members {
    position: absolute;
    font-family: Ogg;
    font-size: 6.6rem;
    font-weight: 1;
    letter-spacing: 2px;
    left: 3.5rem;
    width: 85vw;
    top: 12rem;
    z-index: 300;
    white-space: nowrap;
}

.members ul li {
    list-style: none;
    color: black;
    z-index: 300 !important;
    margin: -80px 0;
}

.members ul li div {
    height: 14rem;
    position: relative;
    z-index: 300 !important;
}

/* .members ul li div:nth-child(odd) {
    border-top: 1px solid black;
}

.members ul li div:nth-child(even) {
    border-bottom: 1px solid black;
} */

.members ul li a {
    text-decoration: none;
    color: black;
    position: relative;
    top: 1rem;
    transition: color 0.5s ease;
    z-index: 2 !important;
}

.nav-to-other-abouts {
    text-decoration: none;
    font-family: Ogg;
    font-size: 5rem;
    color: black;
    position: absolute;
    top: 270%;
    left: 0%;
    float: left;
    white-space: nowrap;
}

.nav-to-other-abouts ul li {
    list-style: none;
}

.nav-to-other-abouts ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: color 0.5s ease;
    z-index: 1 !important;
}

.nav-to-other-abouts ul li a:hover {
    text-decoration: none;
    color: #E4380A;
}

.div-to-black {
    color: black !important;
}

#part-intro {
    font-family: Visuelt-light;
    font-size: 2rem;
    height: 7rem;
    letter-spacing: 3px;
    left: 1%;
    color: black !important;
}


.member-type {
    font-size: 1.6rem;
    font-family: Visuelt-light;
    position: relative;
    vertical-align: middle;
    text-align: center;
    height: 0.5vw;
    line-height: 2rem;
    color: transparent;
    transition: color 0.5s ease;
}

.member-type-color {
    color: #E4380A;
}
