@media only screen and (max-width: 1222px) {
    .title-menu {
        font-size: 3rem;
    }

    .menu {
        font-size: 1.1rem;
        width: 3.9rem;
        height: 3.9rem;
    }

    .wrapper {
        height: 195vw;
    }

    .menu-full {
        font-size: 5vw;
    }

    .menu-items {
        line-height: 9vw;
    }

}

@media only screen and (max-width: 1201px) {
    .title-menu {
        font-size: 2.9rem;
    }

    .menu {
        font-size: 1.1rem;
        width: 3.8rem;
        height: 3.8rem;
    }

    .members {
        font-size: 6.4rem;
    }

    .wrapper {
        height: 199vw;
    }
}

@media only screen and (max-width: 1180px) {
    .title-menu {
        font-size: 2.8rem;
    }

    .menu {
        font-size: 1.1rem;
        width: 3.7rem;
        height: 3.7rem;
    }

    .to-playground {
        width: 2rem;
    }
}

@media only screen and (max-width: 1170px) {
    .members {
        font-size: 6.2rem;
    }

    .wrapper {
        height: 203vw;
    }
}

@media only screen and (max-width: 1150px) {
    .members {
        font-size: 6rem;
    }

    .wrapper {
        height: 210vw;
    }
}

@media only screen and (max-width: 1120px) {
    .members {
        font-size: 5.8rem;
    }

    .wrapper {
        height: 220vw;
    }
}

@media only screen and (max-width: 1070px) {
    .members {
        font-size: 5.6rem;
    }

    .wrapper {
        height: 230vw;
    }
}

@media only screen and (max-width: 1040px) {
    .members {
        font-size: 5.4rem;
    }

    .wrapper {
        height: 230vw;
    }

    .menu-full {
        font-size: 5.2vw;
    }

    .menu-items {
        line-height: 10vw;
    }
}

@media only screen and (max-width: 1016px) {
    .members {
        font-size: 5.2rem;
    }

    .wrapper {
        height: 240vw;
    }
}

@media only screen and (max-width: 981px) {
    .members {
        font-size: 5rem;
    }

    .wrapper {
        height: 250vw;
    }
}


@media only screen and (max-width: 940px) {
    .members {
        font-size: 4.8rem;
    }

    .wrapper {
        height: 260vw;
    }
}

@media only screen and (max-width: 915px) {
    .members {
        font-size: 4.5rem;
    }

    .wrapper {
        height: 270vw;
    }

}

@media only screen and (max-width: 890px) {
    .members {
        font-size: 4.3rem;
    }

    .wrapper {
        height: 280vw;
    }

}

@media only screen and (max-width: 870px) {
    .members {
        font-size: 4.1rem;
    }

    .wrapper {
        height: 290vw;
    }

    .menu-full {
        font-size: 5.5vw;
    }

    .menu-items {
        line-height: 12vw;
    }
}

@media only screen and (max-width: 725px) {
    .intro-text {
        font-size: 5.8rem;
        top: 80px;
    }

    .menu-full {
        font-size: 8vw;
    }

    .menu-items {
        line-height: 13vw;
    }
}

@media only screen and (max-width: 685px) {
    .intro-text {
        font-size: 5rem;
        top: 90px;
    }

    .menu-full {
        font-size: 8.8vw;
    }

    .menu-items {
        line-height: 16vw;
    }

    .menu-email {
        font-size: 1.8rem;
    }

    #menu-email-svg {
        width: 5rem;
    }

    .menu-facebook {
        font-size: 1.8rem;
    }

    #menu-facebook-svg {
        width: 7rem;
    }
}


@media only screen and (max-width: 600px) {
    .title {
        font-size: 2.4rem;
    }

    .menu {
        font-size: 1rem;
        width: 3.3rem;
        height: 3.3rem;
    }

    .to-playground {
        width: 1.5rem;
    }

    .menu-full {
        font-size: 9.5vw;
    }

    .menu-items {
        line-height: 18vw;
    }
}

@media only screen and (max-width: 560px) {
    .intro-text {
        font-size: 4.5rem;
        top: 90px;
    }

    
    .menu-full {
        font-size: 10vw;
    }

    .menu-items {
        line-height: 18vw;
    }
}

@media only screen and (max-width: 525px) {
    .intro-text {
        font-size: 4rem;
        top: 100px;
    }

    .menu-full {
        font-size: 11vw;
    }

    .menu-items {
        line-height: 18vw;
    }
}

@media only screen and (max-width: 500px) {
    .intro-text {
        font-size: 4.5rem;
        top: 100px;
    }

    .menu-full {
        font-size: 11.5vw;
    }

    .menu-items {
        line-height: 20vw;
    }
}

@media only screen and (max-width: 476px) {
    .intro-text {
        font-size: 4.3rem;
        top: 100px;
    }
}

@media only screen and (max-width: 455px) {
    .intro-text {
        font-size: 4.1rem;
        top: 100px;
    }

    .menu-full {
        font-size: 12vw;
    }

    .menu-items {
        line-height: 22vw;
    }
}

@media only screen and (max-width: 600px) {
    .title-menu {
        font-size: 2.4rem;
    }

    .menu {
        font-size: 1rem;
        width: 3.3rem;
        height: 3.3rem;
    }

    .to-playground {
        width: 1.5rem;
    }
}

@media only screen and (max-width: 416px) {

    .title {
        font-size: 4rem;
        left: 3.5rem;   
    }

    .menu {
        top: 90%;
        left: 75%;
        border: none;
        font-size: 3.5rem;
    }

    .XIII {
        opacity: 0;
        top: 68%;
        font-size: 3.5rem;
    }

    .members {
        top: 22rem;
        font-size: 3.8rem;
    }

    #part-intro {
        position: relative;
        top: -5rem;
        font-size: 2.5rem;
    }
    .members ul li {
        margin: -120px 0;
    }

    .nav-to-other-abouts {
        font-size: 4rem;
        top:100rem;
    }


    .wrapper {
        position: relative;
        left: 0rem;
        height: 540vw;
    }

}

