html, body {
    margin: 0;
    background-color: transparent;
}

@font-face {
    font-family: Ogg;
    src: url(ogg.otf);
}

@font-face {
    font-family: Visuelt-bold;
    src: url(visuelt-bold.ttf);
}

@font-face {
    font-family: Visuelt-light;
    src: url(visuelt-light.ttf);
}

body::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    background-color: white;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;/* Firefox */
}

.title-menu {
    font-family: Ogg;
    color: #E4380A;
    font-size: 3vw;
    font-weight: 500;
    position: fixed;
    left: 3.5%;
    letter-spacing: 2.5px;
    z-index: 100;
    opacity: 0;
    top: 1%;
    z-index: 100 !important;
    transition: opacity 0.5s ease;
}

.title-menu a {
    text-decoration: none;
    color: #E4380A;
}

.title {
    font-family: Ogg;
    color: #E4380A;
    font-size: 2.6rem;
    font-weight: 500;
    position: fixed;
    left: 7%;
    top: 4%;
    letter-spacing: 2.5px;
    z-index: 100 !important;
    z-index: 100;
    transition: opacity 0.5s ease;
}

.title:hover {
    cursor: pointer;
}

.title a {
    text-decoration: none;
    color: #E4380A;
}

.menu {
    font-family: Ogg;
    color: #E4380A;
    font-size: 1.2rem;
    font-weight: 500;
    position: fixed;
    right: 4%;
    z-index: 100;
    top: 5%;
    border: 1.2px solid #E4380A;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    text-align: center;
    z-index: 100 !important;
}

.menu:hover {
    cursor: pointer;
}

.menu a {
    position: relative;
    top: 24%;
    color: #E4380A;
    text-decoration: none;
}

.menu a:hover {
    cursor: pointer;
}

.menu-full {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #f0ede8;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-family: Ogg;
    font-size: 4.5vw;
    z-index: -1;
    top:0;
    left:0;
}

.menu-items {
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 8%;
    line-height: 7vw;
}

.menu-item {
    transition: transform 0.2s linear; 
}

.menu-item span {
    transition: transform 0.2s linear;
}

.menu-item span:hover {
    cursor: pointer;
}

#home-re {
    position: relative;
    top: 6px;
}


.menu-items div {
    position: relative;
}

.menu-full-background {
    opacity: 1;
}

.menu-email {
    color:#E4380A;
    position: absolute;
    bottom: 5.5%;
    font-size: 2.2vw;
    left: 5%;
}

.menu-email:hover {
    cursor: pointer;
}

.menu-facebook:hover {
    cursor: pointer;
}

.menu-facebook {
    color: #E4380A;
    position: absolute;
    bottom: 5%;
    font-size: 2.2vw;
    right: 5%;
}

.menu-facebook a {
    color: #E4380A;
    text-decoration: none;
}
.menu-cursor {
    pointer-events: none;
    position: fixed;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: all 0.15s ease-out;
    background-color: #E4380A;
    z-index: 200;
    width: 1vw;
    height: 1vw;
    transform: scale(0);
    top: 50vh;
    left: 30vw;
}

.menu-svg {
    position: absolute;
    width: 7vw;
    top: 30%;
    left: 10%;

}

#menu-email-svg {
    opacity: 0;
    width: 6vw;
    left: -3%;
    top: 40%;
}

#menu-facebook-svg {
    opacity: 0;
    width: 8.6vw;
    top: 25%;
    left: 1%;;
}

.pointer-location {
    font-family: Visuelt-light;
    font-size: 1.5vw;
}

.pointer-location-slash {
    font-family: Ogg;
    font-size: 4.5vw;
}

.wrapper {
    height: 100%;
}

.section-1 {
    position: absolute;
    background: white;
    width: 100vw;
    height: 100vw;
    top:-47rem;
    z-index: 2;
}

.sponsors-title h1 {
    font-family: Visuelt-light;
    font-size: 1.8rem;
    color: black;
    position: absolute;
    top: 12.5rem;
    left: 7%;
    letter-spacing: 3px;
    font-weight: 500;
}

.sponsors-content {
    position: absolute;
    top: 18rem;

}

.sponsors-child {
    width: 100vw;
    height: 20vh;
    border-top: 1px solid black;
    font-family: Visuelt-light;
    font-size: 4rem;  
    left: 7%;
    vertical-align: middle;
    font-weight: 100;
    letter-spacing: 3px;
    transition: color 0.5s ease;
}


.sponsors-name{
    position: relative;
    top: 3rem;
    left: 7%;
}

.sponsors-name a {
    text-decoration: none;
    color: black;
    transition: color 0.5s ease;
}

.sponsors-rank {
    position: relative;
    top: 3rem;
    left: 10%;
    font-family: Visuelt-light;
    font-size: 2rem;  
}

.sponsors-child:hover {
    cursor: pointer;
}

#last-child {
    border-bottom: 1px solid black;
}

.sponsors-arrow {
    position: absolute;
    width: 6vw;
    height: 130px;
    top: 1vh;
    right: 3%;
    overflow: hidden;
}

.sponsors-arrow svg {
    position: relative;
    width: 6vw;
    transform: translateY(120px);
    transition: transform 0.5s ease-out;
}

.contact-section {
    position: absolute;
    top: 100rem;
    width: 100vw;
    height: 70vw;
    background-color: #f9cc4e;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: -1;
}

.contact-header {
    position: absolute;
    top: -2.5%;
    left: 35%;
    width: 30vw;
    height: 10vh;
    color: black;
    background-color: #f9cc4e;
    text-align: center;
    font-family: Visuelt-light;
    font-size: 1.3vw;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    vertical-align: middle;
}

.contact-header span {
    position: relative;
    top:22%;
}

.contact-text {
    position: absolute;
    font-family: Ogg;
    font-size: 6vw;
    top: 10%;
    left: 23%;
    text-align: center;
}

.contact-stroke {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90vw;
    z-index: -1;

}

#contact-stroke-svg {
    stroke-dasharray: 150px;
    animation: dash 8s infinite alternate linear;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

.contact-text-stroke {
    width: 22vw;
    position: absolute;
    top: 57%;
    left: 52%;
    z-index: -1;
}

.agt-circle {
    width: 30vw;
    height: 5vw;
    position: absolute;
    top: 60%;
    left: 36%;
    letter-spacing: 4px;
    color: #E4380A;
    border: 2px solid #E4380A;
    border-radius: 4rem;
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.5s ease;
}

.agt-circle span {
    font-size: 3vw;
    font-family: Ogg;
    transition: color 0.5s ease;
}

.agt-circle span:hover {
    cursor: pointer;
}

.agt-season {
    width: 15vw;
    height: 5vw;
    position: absolute;
    top: 70%;
    left: 26%;
    letter-spacing: 4px;
    color: #239bba;
    border: 2px solid #239bba;
    border-radius: 4rem;
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.5s ease;
}

.agt-season span {
    font-family: Ogg;
    font-size: 3.5vw;
    transition: color 0.5s ease;
}

.agt-season span:hover {
    cursor: pointer;
}

.agt-name {
    width: 32vw;
    height: 5vw;
    position: absolute;
    top: 70%;
    left: 43%;
    letter-spacing: 4px;
    color: #5c2dbe;
    border: 2px solid #5c2dbe;
    border-radius: 4rem;
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.5s ease;
}

.agt-name span {
    font-family: Ogg;
    font-size: 3.5vw;
    letter-spacing: 5px;
    transition: color 0.5s ease;
}

.agt-name span:hover {
    cursor: pointer;
}

.contact-href {
    position: absolute;
    top: 85%;
    left: 33%;
    font-family: Ogg;
    font-size: 3vw;
    color: #E4380A;
}

.contact-href a {
    text-decoration: none;
    color: #E4380A;
}

.facebook {
    margin-right: 10vw;
}

#email-hover {
    z-index: 100;
    transition: all 0.5s ease;
}

#email-hover:hover {
    color: #E4380A;
    cursor: pointer;
    transform: skewX(30deg);
}
