@media only screen and (max-width: 1222px) {
    .title-menu {
        font-size: 3rem;
    }

    .menu {
        font-size: 1.1rem;
        width: 3.9rem;
        height: 3.9rem;
    }


    .menu-full {
        font-size: 5vw;
    }

    .menu-items {
        line-height: 9vw;
    }

}

@media only screen and (max-width: 1201px) {
    .title-menu {
        font-size: 2.9rem;
    }

    .menu {
        font-size: 1.1rem;
        width: 3.8rem;
        height: 3.8rem;
    }
}

@media only screen and (max-width: 1180px) {
    .title-menu {
        font-size: 2.8rem;
    }

    .menu {
        font-size: 1.1rem;
        width: 3.7rem;
        height: 3.7rem;
    }
}

@media only screen and (max-width: 1170px) {

}

@media only screen and (max-width: 1040px) {
}

@media only screen and (max-width: 1016px) {
}

@media only screen and (max-width: 981px) {
    .sponsors-child {
        font-size: 3.7rem;
    }

    .sponsors-rank {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 940px) {
}

@media only screen and (max-width: 915px) {
}


@media only screen and (max-width: 890px) {
}

@media only screen and (max-width: 870px) {
}

@media only screen and (max-width: 845px) {

    .sponsors-child {
        font-size: 3.5rem;
    }

    .sponsors-rank {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 775px) {

    .sponsors-child {
        font-size: 3.2rem;
    }

    .sponsors-rank {
        font-size: 1.2rem;
    }

    .agt-circle span {
        position: relative;
        font-size: 2.8vw;
        top: 5%;
    }

    .agt-season span {
        position: relative;
        font-size: 2.8vw;
        top: 5%;
    }

    .agt-name span {
        font-size: 2.8vw;
        position: relative;
        top: 5%;
    }

}


@media only screen and (max-width: 700px) {
    .title {
        font-size: 2.2rem;
    }

    .section-1 {
        top: -50rem;
    }

    .sponsors-title h1 {
        font-size: 1.5rem;
    }

    .sponsors-child {
        font-size: 3rem;
    }

    .sponsors-rank {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 685px) {
    .menu-full {
        font-size: 8.8vw;
    }

    .menu-items {
        line-height: 16vw;
    }

    .menu-email {
        font-size: 1.8rem;
    }

    #menu-email-svg {
        width: 5rem;
    }

    .menu-facebook {
        font-size: 1.8rem;
    }

    #menu-facebook-svg {
        width: 7rem;
    }

    .title {
        font-size: 2.2rem;
    }

    .sponsors-child {
        font-size: 2.7rem;
    }

    .sponsors-rank {
        font-size: 0.9rem;
    }

}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 2.4rem;
    }

    .menu {
        font-size: 1rem;
        width: 3.3rem;
        height: 3.3rem;
    }

    .menu-full {
        font-size: 9.5vw;
    }

    .menu-items {
        line-height: 18vw;
    }

    .title {
        font-size: 2.2rem;
    }

    .agt-circle span {
        position: relative;
        font-size: 2.5vw;
        top: 10%;
    }

    .agt-season span {
        position: relative;
        font-size: 2.5vw;
        top: 10%;
    }

    .agt-name span {
        font-size: 2.5vw;
        position: relative;
        top: 10%;
    }

    .sponsors-arrow {
        display: none;
    }


}


@media only screen and (max-width: 560px) {
    .title {
        font-size: 2.2rem;
    }

    .sponsors-child {
        font-size: 2.4rem;
    }

    .sponsors-rank {
        font-size: 0.9rem;
    }



}

@media only screen and (max-width: 532px) {
    .title {
        font-size: 2.2rem;
    }

    .sponsors-child {
        font-size: 2.2rem;
    }

    .sponsors-rank {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 525px) {
    .menu-full {
        font-size: 11vw;
    }

    .menu-items {
        line-height: 18vw;
    }
}

@media only screen and (max-width: 500px) {
    
    .menu-full {
        font-size: 11.5vw;
    }

    .menu-items {
        line-height: 20vw;
    }

    .title {
        font-size: 2rem;
    }

    .sponsors-title h1 {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 455px) {
    .menu-full {
        font-size: 12vw;
    }

    .menu-items {
        line-height: 22vw;
    }

    .sponsors-child {
        font-size: 2rem;
    }

    .sponsors-name {
        top: 3.5rem;
    }


    .sponsors-rank {
        font-size: 0.8rem;
        top: 3.5rem;
    }
}


@media only screen and (max-width: 600px) {
    .title-menu {
        font-size: 2.4rem;
    }

    .menu {
        font-size: 1rem;
        width: 3.3rem;
        height: 3.3rem;
    }

    .to-playground {
        width: 1.5rem;
    }
}

@media only screen and (max-width: 416px) {
    .title {
        left: 1.6rem;
        font-size: 1.8rem;
    }

    .menu {
        top: 90%;
        left: 75%;
        border: none;
        font-size: 1.8rem;
    }

    .menu-full {
        font-size: 11.5vw;
    }

    .menu-items {
        line-height: 20vw;
    }

    .contact-section {
        height: 200vw;
    }

    .contact-header {
        width: 85vw;
        height: 70vw;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        left: 8%;
        top: -5%;
        font-size: 5vw;
    }

    .contact-header span {
        top: 3%;
    }

    .contact-text {
        font-size: 9.5vw;
        left: 7.5%;
    }

    .contact-text-stroke {
        width: 35vw;
        z-index: 1;
        left: 50%;
    }

    #email-hover {
        z-index: 101 !important;
    }

    .agt-circle {
        top: 40%;
        left: 16%;
        width: 70vw;
        height: 10vw;
        border: 1px solid #E4380A;
    }

    .agt-circle span {
        position: relative;
        font-size: 6.3vw;
        top: 4%;
    }

    .agt-season {
        top: 54%;
        left: 32%;
        width: 35vw;
        height: 10vw;
        border: 1px solid #239bba;
    }

    .agt-season span {
        position: relative;
        top: 3%;
        font-size: 6.8vw;
    }

    .agt-name {
        width: 69vw;
        height: 10vw;
        top: 47%;
        left: 16%;
        border: 1px solid #5c2dbe;
    }

    .agt-name span {
        font-size: 6.8vw;
        position: relative;
        top: 2%;
    }

    .contact-href {
        top: 63%;
        font-size: 8vw;
        white-space: pre;
        line-height: 12vw;
        left: -15%;
        text-align: center;
    }

    .contact-stroke {
        width: 100vw;
        left: 2%;
    }

    .email {
        position: relative;
        left: -5.5%;
    }

}

@media only screen and (max-width: 400px) {
    .sponsors-child {
        font-size: 1.7rem;
    }

    .sponsors-name {
        top: 3.5rem;
    }

    .sponsors-title h1 {
        font-size: 1.2rem;
        top: 14rem;
    }
    
}

@media only screen and (max-width: 386px) {
}

@media only screen and (max-width: 380px) {
}